// footer
.footer {
  padding-top: 3.6rem;
  background: $footer-gradient-background;

  &__info-wrapper {
    @include flex($justify-content: space-between, $align-items: flex-start);
  }

  &__image {
    position: relative;
    top: 0;
    display: block;

  }

  &__col {
    padding-top: 2.1rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25.7rem;

    &:nth-child(2) {
      margin-left: -2.3rem;
    }
  }

  &__header {
    color: $color-light-xl;
  }

  &__link {
    padding-bottom: 0.2rem;
    @include flex($justify-content:flex-start, $wrap: nowrap);
  }

  &__text-info {
    margin-left: 2rem;
    color: $color-primary;
  }


  @media (max-width: $screen-xl-max) {
    padding-top: 3rem;

    &__info-wrapper {
      @include flex($justify-content: space-evenly, $align-items: flex-start);
    }

    &__col {
      padding-top: 0;
      height: 23.4rem;

      &:nth-child(2) {
        margin-left: 0rem;
      }
    }

    &__image-wrapper {
      margin: 6.2rem auto 0;
    }

    &__image {
      position: relative;
      display: block;
    }

    &__link {
      padding-bottom: 0rem;
    }
  }

}