.nav-wrapper {
  @include nav-wrapper();
}

.burger-wrapper {
  display: none;
}

.nav-main {
  position: absolute;
  top: 6rem;
  width: 100%;
  z-index: 1;

  & .burger {
    background-color: $color-primary;

    &:after,
    &:before {
      background-color: $color-primary;
    }
  }

  & a {
    color: $color-dark-s;

    &:hover {
      color: $color-light-s;
    }

    &.menu-item {
      position: relative;

      &__link {
        &__active {
          color: $color-light-s;
          padding-bottom: 0.4rem;
          border-bottom: 3px solid $color-primary;
          pointer-events: none;
        }
      }
    }
  }
}

@media (max-width: $screen-xl-max) {
  .nav-wrapper {
    @include nav-wrapper($max-width: 128rem, $padding: 0 3rem);
  }

  .nav-main {
    top: 3rem;
  }
}

@media (max-width: $screen-sm) {
  .nav-wrapper {
    @include nav-wrapper($max-width: 128rem, $padding: 0 1rem);
  }
}

.nav-inner {
  position: sticky;
  padding: 3rem 0 2.8rem;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: $color-light-xl;

  & .burger {
    background-color: #000;

    &:after,
    &:before {
      background-color: #000;
    }
  }



  & a {
    color: $color-dark-l;

    &:hover {
      color: $color-dark-3xl;
    }

    &.menu-item {
      &__link {
        &__active {
          color: $color-dark-3xl;
          padding-bottom: 0.4rem;
          border-bottom: 3px solid $color-primary;
          pointer-events: none;
        }
      }
    }
  }

  .navbar__menu-items {
    margin-bottom: .5rem;
  }
}


.navbar {
  @include flex($justify-content: space-between);
  width: 100%;

  &__menu {
    width: 44.2rem;
    position: relative;
    bottom: .2rem;
  }

  &__menu-items {
    @include flex($justify-content: space-between);
  }

  &__menu-item {
    @include paragraph-l();
    line-height: 160%
  }
}

@media (max-width: $screen-sm-max) {
  .navbar {
    &__menu {
      display: none;
    }
  }

  .burger-wrapper {
    display: block;
    margin-right: 4rem;
    width: 3rem;
    height: 2.2rem;

    &:hover {
      cursor: pointer;

      .burger {
        background-color: transparent;
        transform: translateX(1rem) translateY(1rem) rotate(90deg);
      }

      .burger:before {
        transform: rotate(-45deg);
        top: 1rem;
      }

      .burger:after {
        transform: rotate(45deg);
        top: 1rem;
      }
    }

    & .burger {
      display: block;
      width: 3rem;
      height: .2rem;
      position: relative;

      &:after,
      &:before {
        content: '';
        width: 3rem;
        height: .2rem;
        position: absolute;
        top: 1rem;
      }

      &:before {
        top: 2rem;
      }
    }
  }



}



ul {
  padding-bottom: .4rem;
}