.nav-main {
  @include flex();
  position: absolute;
  top: 6rem;
  width: 100%;
  z-index: 1;
}


.nav-inner {
  @include flex();
  position: absolute;
  top: 6rem;
  width: 100%;
  z-index: 1;
}


.navbar {

  @include flex($justify-content: space-between);

  &__logo {
    &__title {
      margin-bottom: 1rem;
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 3.2rem;
      line-height: 110%;
      letter-spacing: 0.06em;
      color: $color-primary;
    }

    &__subtitle {
      padding-left: .4rem;
      font-family: Arial;
      font-weight: normal;
      font-size: 1.3rem;
      line-height: 1.5rem;
      letter-spacing: 0.1em;
      color: $color-light-xl;
    }
  }

  &__menu {
    width: 44.2rem;
  }

  &__menu-items {
    @include flex($justify-content: space-between);
  }

  &__menu-item {
    @include paragraph-l();
    // margin-left: 3.45rem;
    line-height: 160%
  }
}

ul {
  padding-bottom: .4rem;
}

.menu-item {
  &__link {
    &__active {
      color: $color-light-s;
      padding-bottom: 0.4rem;
      border-bottom: 3px solid $color-primary;
      pointer-events: none;
    }

    &:hover {
      color: $color-light-s;
    }
  }
}