.nav-main {
  @include flex();
  position: absolute;
  top: 6rem;
  width: 100%;
  z-index: 1;

  & a {
    color: $color-dark-s;

    &:hover {
      color: $color-light-s;
    }

    &.menu-item {
      &__link {
        &__active {
          color: $color-light-s;
          padding-bottom: 0.4rem;
          border-bottom: 3px solid $color-primary;
          pointer-events: none;
        }
      }
    }
  }
}


.nav-inner {
  position: sticky;
  @include flex();
  padding: 3rem 0;
  top: 0;  
  width: 100%;
  z-index: 1;
  background-color: $color-light-xl;

  & a {
    color: $color-dark-l;

    &:hover {
      color: $color-dark-3xl;
    }

    &.menu-item {
      &__link {
        &__active {
          color: $color-dark-3xl;
          padding-bottom: 0.4rem;
          border-bottom: 3px solid $color-primary;
          pointer-events: none;
        }
      }
    }
  }

  .navbar__menu-items {
    margin-bottom: .5rem;

  }
}


.navbar {

  @include flex($justify-content: space-between);

  &__menu {
    width: 44.2rem;
  }

  &__menu-items {
    @include flex($justify-content: space-between);
  }

  &__menu-item {
    @include paragraph-l();
    line-height: 160%
  }
}

ul {
  padding-bottom: .4rem;
}