// colors
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #fff;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444;
$color-dark-3xl: #292929;

$start-screen-gradient-background: url(../../../assets/images/noize-bg-main.png),
radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);

$footer-gradient-background: url(../../../assets/images/noize-bg-main.png),
radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

$mt25: all .25s ease;


// media queries
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1280px;

$screen-sm-max: 767px;
$screen-lg-max: 991px;
$screen-xl-max: 1279px;

