@charset 'utf-8';
@import "../../sass/base/normalize";
@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";
@import "../../sass/layout/header";
@import "../../sass/layout/footer";

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: $mt25;
}

a {
  text-decoration: none;
  color: $color-dark-s;

  &:focus {
    outline: none;
    border: none;
    outline-style: none;
    -moz-outline-style: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  font-size: 1.5rem;
}

h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.main-header {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  letter-spacing: 0%;
  color: $color-light-xl;
}


h2 {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

h3 {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
}

h4 {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 10%;
  letter-spacing: 0.06em;
}

p {
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 160%;
  color: $color-dark-xl;
}

button {
  border: none;
  border-radius: 10rem;
  outline: none;
  font-size: 1.7rem;
  padding: 1.5rem 4.5rem;
}

.button___primary {
  background-color: $color-primary;
  @include button-font();

  &:hover {
    background-color: $color-primary-light;
  }
}

.button__secondary {
  padding: 1.28rem 4.3rem;
  border: 0.2rem solid $color-primary;
  background-color: transparent;
  @include button-font();

  &:hover {
    border: 0.2rem solid transparent;
    background-color: $color-primary-light;
  }
}


.paragraph-l {
  @include paragraph-l();
}


.paragraph-s {
  @include paragraph-s();
}

.wrapper {
  margin: 0 auto;
  width: 120rem;
  position: relative;
}

//section pets
.pets {
  @include sectpaddings();
  text-align: center;
  background-color: $color-light-l;
  &__header {
    margin: 0 auto 6rem;
    width: 40rem;
  }

  &__cards-wrapper {
    @include flex($justify-content: space-between);
    position: relative;
  }

  &__card {
    @include flex($justify-content: space-around);
    margin-bottom: 3rem;
    overflow: hidden;
    padding: 0rem 3.2rem 3rem ;
    width: 27rem;
    border-radius: .9rem;
    background-color: $color-light-s;
    & img {
      margin-bottom: 3rem;
    }
    &:hover {
      background-color: $color-light-xl;
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }
  }
  &__cardName {
    margin-bottom: 3rem;
  }

}

.pagination {
  margin: 3rem auto .1rem;
  min-width: 34rem;
  @include flex($justify-content: space-between);
  &__item {
    padding: 0;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 100px;
    border: 2px solid $color-primary;
    background-color: transparent;
    &:hover {
      background-color: $color-primary-light;
    }
  }
  .pag-item-inactive {
    border: 2px solid $color-dark-s;
    pointer-events: none;
    img {
      opacity: .25;
    }
  }

  .pag-item-current {
    font-family: georgia, serif;
    font-size: 2rem;
    line-height: 115%;
    background-color: $color-primary;
    pointer-events: none;
  }
}