@charset 'utf-8';
@import "base/normalize";
@import "abstracts/mixins";

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  font-size: 1.5rem;
}


h1{
  font-size: 2rem;
}