@charset 'utf-8';
@import "../../sass/base/normalize";
@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";
@import "../../sass/layout/header";
@import "../../sass/layout/footer";

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: $mt25;
}

a {
  text-decoration: none;
  color: $color-dark-s;

  &:focus {
    outline: none;
    border: none;
    outline-style: none;
    -moz-outline-style: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  font-size: 1.5rem;
}

h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.main-header {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  letter-spacing: 0%;
  color: $color-light-xl;
}

h2 {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

h3 {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
}

h4 {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 10%;
  letter-spacing: 0.06em;
}

p {
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 160%;
  color: $color-dark-xl;
}

button {
  border: none;
  border-radius: 10rem;
  outline: none;
  font-size: 1.7rem;
  padding: 1.5rem 4.5rem;
}

.button__primary {
  background-color: $color-primary;
  @include button-font();

  &:hover {
    background-color: $color-primary-light;
  }
}

.button__secondary {
  padding: 1.28rem 4.3rem;
  border: 0.2rem solid $color-primary;
  background-color: transparent;
  @include button-font();

  &:hover {
    border: 0.2rem solid transparent;
    background-color: $color-primary-light;
  }
}


.paragraph-l {
  @include paragraph-l();
}

.paragraph-s {
  @include paragraph-s();
}

.wrapper {
  @include wrapper();
}

@media (max-width: $screen-xl-max) {
  .wrapper {
    @include wrapper($max-width: 76.8rem, $padding: 0 3rem);
  }
}




// first section
.first {
  background: $start-screen-gradient-background;

  &__inner {
    // height: 90.8rem;
    @include flex($justify-content: space-between);
    & .img {
      margin-top: 18rem;
      &__main {
        display: block;
        max-width: 69.8rem;
      }
    }
  }

  & .usp-content {
    margin-top: 10rem;
    width: 46rem;

    &__h {
      margin-bottom: 4.1rem;
      width: 31rem;
    }

    &__p {
      @include paragraph-l();
      color: $color-dark-s;
      margin-bottom: 4.3rem;
    }
  }

  @media (max-width: $screen-xl-max) {
    &__inner {
      height: auto;
    }
    & .usp-content {
      margin: 15rem auto 0;
      button {
        display: block;
        margin: auto;
      }
    }
    & .img {
      margin-top: 10rem;
      width: 100%;
      &__main {
        max-width: 56.9rem;
        position: relative;
        margin: 0 auto 0 14rem;
        display: block;
      }
    }

  }

}


//section about
.about {
  @include sectpaddings($bot:10.1rem);
  &__inner {
    @include flex($justify-content: space-evenly);

    & .img {
      margin-right: -5.5rem;
      max-height: 40.7rem;

    }
  }

  &__text-content {
    max-width: 43rem;
  }

  &__h {
    margin-bottom: 2.5rem;
    width: 37rem;
  }

  &__p {
    margin-bottom: 2.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $screen-xl-max) {
    height: auto;

    &__inner {
      flex-direction: column;
    }
    
    & .img {
      order: 2;
      margin: 8rem 0 0;
      padding-bottom: 0;
    }
    &__h {
      padding-top: 0;
    }
  
  }

}

//section pets
.pets {
  @include sectpaddings();
  text-align: center;
  background-color: $color-light-l;

  &__cards-wrapper {
    @include flex($justify-content: space-between);
    width: 99rem;
    margin: 0 auto;
    position: relative;
    position: relative;
  }

  &__card {
    @include flex($justify-content: space-around);
    margin-bottom: 3rem;
    overflow: hidden;
    padding: 0rem 3.2rem 3rem;
    width: 27rem;
    border-radius: .9rem;
    background-color: $color-light-s;

    & img {
      margin-bottom: 3rem;
    }

    &:hover {
      background-color: $color-light-xl;
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      cursor: pointer;
    }
  }

  &__cardName {
    margin-bottom: 3rem;
  }

  .slider {
    @include flex($justify-content: space-around);
    position: relative;

    &__slides-nav {
      position: absolute;
      top: 19.2rem;
      width: 100%;

      & button {
        padding: 0;
        width: 5.2rem;
        height: 5.2rem;
        border: 2px solid $color-primary;
        background-color: transparent;
        border-radius: 10rem;
        padding-bottom: 0.4rem;

        &:hover {
          background-color: $color-primary;
        }
      }

      & .slides-nav__inactive {
        border: 2px solid $color-dark-s;
        background-color: transparent;
        pointer-events: none;

        & img {
          opacity: 23%;
        }
      }

    }

    &__nav-left {
      position: absolute;
      left: 0;
    }

    &__nav-right {
      position: absolute;
      right: 0;
    }

  }

  &__h {
    margin: 0 auto;
    max-width: 40rem;
    text-align: center;
    margin-bottom: 6rem;
  }

  &__button {
    margin-top: 3.1rem;
  }

  @media (max-width: $screen-xl-max) {
    &__cards-wrapper {
      width: 58rem;
    }
    &__card:nth-child(2) ~ &__card { // hide all cards after the second 
      display: none;
    }

  }



}

//section help
.help {
  @include sectpaddings($top: 8.2rem, $bot: 4.5rem);
  text-align: center;
  background-color: $color-light-xl;
  margin: 0 auto;

  &__inner {
    @include flex($direction: column);
  }

  &__header {
    width: 38rem;
    margin-bottom: 5.8rem;
  }


  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__icon-item {
    padding: 0 6rem;
    margin-bottom: 5.5rem;
  }
  &__icon {
    margin-bottom: 2.8rem;
  }


  @media (max-width: $screen-xl-max) {
    &__icons {
      width: 63rem;
      justify-content: space-between;
    }
    &__icon-item {
      padding: 0;
      width: 17rem;
    }
    
  }

}

// section donation
.donation {
  @include sectpaddings();
  background-color: $color-light-l;
  padding: 8rem 0 10rem;

  &__inner {
    @include flex();
  }

  &__image-wrapper {
    margin-right: 3rem;
  }
  
  &__image {
    display: block;
  }
  

  &__text-wrapper {
    width: 38rem;
  }

  &__header {
    width: 30rem;
    color: $color-dark-l;
  }

  &__subtitle {
    margin-top: 2rem;
    @include paragraph-l($line-height: 110%);
    color: $color-dark-l;
    font-family: Georgia;
  }

  &__card-number-wrapper {
    @include flex($justify-content: space-between);
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    width: 35rem;
    border-radius: 1rem;
    background-color: $color-primary;
  }

  &__card-number {
    color: $color-dark-l;

    &:hover {
      color: $color-dark-3xl;
    }
  }

  &__description {
    margin-top: 2rem;
    @include paragraph-s();
    color: $color-dark-m;
  }

  
  @media (max-width: $screen-xl-max) {
    &__image-wrapper {
      order: 2;
    }
    &__image-wrapper {
      margin-right: 0rem;
    }
    &__description {
      margin-bottom: 6rem;
    }

  }
}