@mixin flex($direction: row, $justify-content: center, $align-items: center, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
}

@mixin sectpaddings() {
  padding-top: 8rem;
  padding-bottom: 10rem;
}

@mixin paragraph-l() {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
}

@mixin paragraph-s() {
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 150%;
}

@mixin button-font() {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}